# Redshift
REDSHIFT_HOST=
REDSHIFT_PORT=5439
REDSHIFT_DB=
REDSHIFT_USER=
REDSHIFT_PASSWORD=
REDSHIFT_SCHEMA=lpp

# Neo4j
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=
NEO4J_DB=neo4j

# AWS Bedrock
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-west-2
AWS_BEDROCK_SONNET_ARN=
AWS_BEDROCK_HAIKU_ARN=
AWS_BEDROCK_COHERE_EMBED_V4_ARN=
