# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/

# Environment files
.env
.env.*
!.env.example


# Docs
README.md

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Git
.git/
.gitignore